[submodule "Heterophilic_Benchmarks"]
	path = Heterophilic_Benchmarks
	url = https://github.com/turja16/Heterophilic_Benchmarks.git
[submodule "ACM-GNN"]
	url = https://github.com/turja16/ACM-GNN.git
	path = ACM-GNN
[submodule "https://github.com/turja16/Heterophilic_Benchmarks.git"]
	branch = main
[submodule "https://github.com/turja16/ACM-GNN.git"]
	branch = main
